<div>
  <mat-card class="encontrado-card">
    <mat-card-header>
      <mat-card-title>Escaneie o QR Code</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <picture>
          <source media='(min-width:0px)' srcset="https://thumbs.dreamstime.com/b/qr-code-vector-icon-phone-qrcode-qr-code-vector-icon-phone-qrcode-abstract-illustration-eps-graphic-background-118501815.jpg">
          <img mat-card-image src="" alt="QR Code">
        </picture>
      </mat-form-field>
      <br>
      <br>
    </mat-card-content>
  </mat-card>
</div>
