<div>
    <mat-card class="confirmacao-card">
      <mat-card-header>
        <mat-card-title>Confirmar pedido</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <br>
          <picture>
            <source media='(min-width:0px)' srcset="https://thumbs.dreamstime.com/b/sacos-de-lixo-brancos-com-pedras-da-entulho-110627842.jpg">
            <img mat-card-image src="" alt="Lixo a descartar">
          </picture>
          <br>
          <mat-list>
            200kg de entulho
          </mat-list>
        <br>
        <button mat-raised-button color="primary" onclick="solicitacao()">Voltar</button>
        <br>
        <br>
        <button mat-raised-button color="primary" onclick="procura()">Proximo</button>
        <br>
      </mat-card-content>
    </mat-card>
  </div>
