<div>
  <mat-card class="encontrado-card">
    <mat-card-header>
      <mat-card-title>Motorista Encontrado</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="primary" onclick="qr()">QRCode</button>
      <button mat-raised-button color="primary" onclick="cancelar()">Cancelar Pedido</button>
      <button mat-raised-button color="primary" onclick="mapa()">Mapa</button>
        <picture>
          <source media='(min-width:0px)' srcset="https://external-preview.redd.it/BBo3c-IrtE9QjxzOdZq-q1RjnD1KO8nkS2YnvRFraxI.png?auto=webp&s=aab9051e48eade229512a3e8c0b1cac06a054c9c">
          <img mat-card-image src="" alt="Motorista">
        </picture>
      <br>
      <br>
    </mat-card-content>
  </mat-card>
</div>
