<div>
  <mat-card class="chat-card">
    <mat-card-header>
      <mat-card-title>Chat</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Mensagem 1</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Mensagem 2</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Mensagem 3</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Mensagem 4</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <br>
      <br>
      <br>
      <button mat-raised-button color="primary" onclick="login()">Cadastrar</button>
    </mat-card-content>
  </mat-card>
</div>
