<div>
  <mat-card class="procura-card">
    <mat-card-header>
      <mat-card-title>Procurando motorista</mat-card-title>
      <br>
      <br>
      <br>
      <picture>
        <source media='(min-width:0px)' srcset="https://png.pngtree.com/png-clipart/20200226/original/pngtree-colorful-loading-icon-png-image_5326551.jpg">
        <img mat-card-image src="" alt="Lixo a descartar">
      </picture>
      <br>
      <br>
        <mat-progress-bar>
        </mat-progress-bar>
      <br>
      <br>
    </mat-card-header>
<mat-card-content>
