<div>
    <mat-card class="userpage-card">
      <mat-card-header>
        <mat-card-title>Dados do Usuario</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Nome do Usuario</mat-label>
          <input matInput type="text">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" onclick="chat()">Mudar nome</button>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Genero</mat-label>
          <input matInput type="gender">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" onclick="chat()">Mudar genero</button>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Idade</mat-label>
          <input matInput type="text">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" onclick="chat()">Mudar Idade</button>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>
          <input matInput type="telefone">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" onclick="chat()">Mudar CPF</button>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Cidade</mat-label>
          <input matInput type="rua">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" onclick="chat()">Mudar cidade</button>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <input matInput type="numero">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" onclick="chat()">Mudar status</button>
        <br>
        <br>
        <br>
        <br>
      </mat-card-content>
    </mat-card>
  </div>
